<%= form_for(prpage) do |f| %>
  <% if prpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prpage.errors.count, "error") %> prohibited this prpage from being saved:</h2>

      <ul>
      <% prpage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :methodofcom %>
    <%= f.text_field :methodofcom %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :suitsize %>
    <%= f.text_field :suitsize %>
  </div>

  <div class="field">
    <%= f.label :preferedcolor %>
    <%= f.text_field :preferedcolor %>
  </div>

  <div class="field">
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>

  <div class="field">
    <%= f.label :shirtsize %>
    <%= f.text_field :shirtsize %>
  </div>

  <div class="field">
    <%= f.label :shoesize %>
    <%= f.text_field :shoesize %>
  </div>

  <div class="field">
    <%= f.label :hatsize %>
    <%= f.text_field :hatsize %>
  </div>

  <div class="field">
    <%= f.label :birthday %>
    <%= f.text_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :anniversary %>
    <%= f.text_field :anniversary %>
  </div>

  <div class="field">
    <%= f.label :ordernumber %>
    <%= f.text_field :ordernumber %>
  </div>

  <div class="field">
    <%= f.label :orderdetails %>
    <%= f.text_field :orderdetails %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
