<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prpage.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @prpage.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @prpage.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @prpage.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @prpage.zipcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @prpage.email %>
</p>

<p>
  <strong>Methodofcom:</strong>
  <%= @prpage.methodofcom %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @prpage.phone %>
</p>

<p>
  <strong>Suitsize:</strong>
  <%= @prpage.suitsize %>
</p>

<p>
  <strong>Preferedcolor:</strong>
  <%= @prpage.preferedcolor %>
</p>

<p>
  <strong>Style:</strong>
  <%= @prpage.style %>
</p>

<p>
  <strong>Shirtsize:</strong>
  <%= @prpage.shirtsize %>
</p>

<p>
  <strong>Shoesize:</strong>
  <%= @prpage.shoesize %>
</p>

<p>
  <strong>Hatsize:</strong>
  <%= @prpage.hatsize %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @prpage.birthday %>
</p>

<p>
  <strong>Anniversary:</strong>
  <%= @prpage.anniversary %>
</p>

<p>
  <strong>Ordernumber:</strong>
  <%= @prpage.ordernumber %>
</p>

<p>
  <strong>Orderdetails:</strong>
  <%= @prpage.orderdetails %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @prpage.cost %>
</p>

<%= link_to 'Edit', edit_prpage_path(@prpage) %> |
<%= link_to 'Back', prpages_path %>
