<p id="notice"><%= notice %></p>

<h1>Store</h1>
<div class="container-fluid store">
<!--Begins the view of the store-->
  <!--Display row for items (Now entering Bootstrap's grid system...)-->
  <div class="row">
    <!--Now looping on each item. When row is filled, next row.-->
    <% @items.each do |item| %>

    <!--This division formats items to Bootstraps standards for Mobile, 
        Tablet, and Desktop. *This may need to be changed once we put in a search-->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <!--Entering the division for each individual item.-->
      <div class ="thumbnail">
        <%= link_to image_tag(item.image_url), item %>
        <div class="caption" style="text-align:center">
          <%= item.brand%>
          <%= item.name%> <br>
          $<%= item.price%> <br>
          <!--Debating if this would look cleaner without a view button(?)-->
          <!--<a href=# class="btn btn-primary" role="button">View</a><br>-->
          <td><%= link_to 'Show ', item %></td>
          <td><%= link_to 'Edit ', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy ', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>

    </div>
    <%end%>
  </div>
</div>

<%= link_to 'New Item', new_item_path %>

