<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ppage.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ppage.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @ppage.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @ppage.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @ppage.zipcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ppage.email %>
</p>

<p>
  <strong>Methodofcom:</strong>
  <%= @ppage.methodofcom %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ppage.phone %>
</p>

<p>
  <strong>Suitsize:</strong>
  <%= @ppage.suitsize %>
</p>

<p>
  <strong>Preferedcolor:</strong>
  <%= @ppage.preferedcolor %>
</p>

<p>
  <strong>Style:</strong>
  <%= @ppage.style %>
</p>

<p>
  <strong>Shirtsize:</strong>
  <%= @ppage.shirtsize %>
</p>

<p>
  <strong>Shoesize:</strong>
  <%= @ppage.shoesize %>
</p>

<p>
  <strong>Hatsize:</strong>
  <%= @ppage.hatsize %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @ppage.birthday %>
</p>

<p>
  <strong>Anniversary:</strong>
  <%= @ppage.anniversary %>
</p>

<p>
  <strong>Ordernumber:</strong>
  <%= @ppage.ordernumber %>
</p>

<p>
  <strong>Orderdetails:</strong>
  <%= @ppage.orderdetails %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ppage.cost %>
</p>

<%= link_to 'Edit', edit_ppage_path(@ppage) %> |
<%= link_to 'Back', ppages_path %>
